html {
    box-sizing: border-box;
    padding: 40px;
}
h2,h3,p,h4{
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

#card {
    width: 450px;
    height: 425px;
   
    box-shadow: 3px 3px 10px 5px rgba(43, 41, 41, 0.685);
    border-radius: 2px;
   
}
#ylw{
    color:yellowgreen;
}


#topsec {
    padding: 30px;
    width: 100%;
    height: 40%;
   
    color: rgb(98, 113, 126);
   
}
#cyn {
    color:rgb(42, 230, 167);
}

#bottomsec {
    
    width: 100%;
    height: 60%;
   
}

#bottomleft {
    
    padding: 30px;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 255px;
    color: antiquewhite;
    background-color: rgb(14, 218, 218);
}


#bottomright {
    padding: 20px;
    vertical-align: top;
    display: inline-block;
    width: 50%;
    height: 255px;
   
    background-color: rgb(29, 194, 194);
    color: rgb(231, 217, 217);
}
#btn{
    background-color: rgb(212, 212, 57);
    color: antiquewhite;
    width: 100px;
    padding: 5px;
    border: none;
    
    box-shadow: 2px 2px 2px 2px rgba(18, 93, 192, 0.589);
}